* {
  text-decoration: none;
}
.userDialogInfoWrapper {
  margin-left: 10px;
  width: 100%;
  padding-top: 10px;
  color: black;
}
.userDialogInfoWrapper p {
  font-size: 12px;
  /* display: inline-block; */
}
.userDialogInfoWrapper span {
  font-size: 12px;
  position: relative;
  float: right;
  top: -38px;
  right: 5px;
  color: rgba(44, 43, 43, 0.616);
}
