.post img {
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 60px;
}
.post {
  color: rgba(44, 43, 43, 0.616);
  display: flex;
  align-items: center;
  padding-left: 7px;
  margin-bottom: 15px;
  max-width: 100%;
}

.post p {
  max-width: 100%;
  padding-left: 10px;
  font-size: 15px;
  line-height: 133%;
}
