.container {
  width: 70%;
  margin: 0 auto;
}
.wrapper {
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
